@font-face {
  font-family: "Ageo-regular";
  src: url(fonts/AgeoPersonalUse-Regular\ 400.otf);
}
@font-face {
  font-family: "Ageo-bold";
  src: url(fonts/AgeoPersonalUse-Bold\ 700.otf);
}
@font-face {
  font-family: "Ageo-ligth";
  src: url(fonts/AgeoPersonalUse-Light\ 300.otf);
}
@font-face {
  font-family: "Adelia";
  src: url(fonts/adelia\ 400.ttf);
}
@font-face {
  font-family: "Black-pink";
  src: url(fonts/Black\ Pink\ Signature\ 400.ttf);
}
@font-face {
  font-family: "Billie";
  src: url(fonts/BillieAshley\ 400.otf);
}
@font-face {
  font-family: "Ainslay";
  src: url(fonts/Ainslay\ normal\ 400.otf);
}

* {
  padding: 0;
  margin: 0;
  font-family: Ageo-regular;
}

body {
  /* background-image: url("img/fundo.png"); */
  background-color: #b51e63;
  background-repeat: repeat-y;
  background-size: 800px;
  background-position: fixed;
  background-position-x: center;
  margin: 0 auto;
}
span .bold {
  font-family: Ageo-bold;
}
span .ligth {
  font-family: Ageo-light;
}
#logotipo {
  left: 100px;
  top: 50px;
  z-index: 1000;
  position: fixed;
  width: 100px;
}

#container {
  width: 100%;
  min-height: 100%;
}

.slide {
  height: 100vh;
  float: left;
  width: 100%;
  z-index: 1;
}

.image-painel {
  width: 50%;
  height: 100vh;
  float: left;
  overflow: hidden;
}

.image-painel img {
  position: relative;
  /* bottom: 50px; */
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.text-painel {
  width: 50%;
  height: 100vh;
  float: left;
  text-align: center;
  color: white;
}

.text-painel h2 {
  font-size: 6vw;
  font-family: Ainslay;
}

.text-painel div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  /* margin-left: 20px; */
  padding: 40px 60px;
}

.text-painel > span {
  margin-left: 20px;
}
.text-painel .call-word {
  font-size: 3vw;
  text-transform: uppercase;
  font-family: Ageo-bold;
}

.text-painel .description {
  font-family: Ageo-ligth;
  text-transform: uppercase;
  font-size: 14pt;
}

.number {
  font-family: sans-serif;
}

.obs {
  font-family: Ageo-ligth;
  font-size: 13pt;
}

.info {
  text-align: left;
}

#whatsapp-icon {
  position: fixed;
  bottom: 50px;
  right: 150px;
  width: 135px;
  height: 30px;
  background-color: #21b034;
  color: #fff;
  padding: 2px 20px;
  border-radius: 50px 50px;
  border: 5px solid #fff;
  -webkit-box-shadow: -12px 4px 36px -12px rgba(153, 153, 153, 1);
  -moz-box-shadow: -12px 4px 36px -12px rgba(153, 153, 153, 1);
  box-shadow: -12px 4px 36px -12px rgba(153, 153, 153, 1);
}

#whatsapp-icon a {
  text-decoration: none;
  color: #fff;
}

#whatsapp-text {
  position: relative;
  /* top: 20px; */
  line-height: 35px;
  text-transform: uppercase;
}

#whatsapp-icon img {
  margin-top: 0px;
  width: 30px;
  float: right;
}

#instagram {
  display: inline-block;
  width: 45px;
  height: 45px;
  text-align: center;
  border-radius: 40px;
  color: #fff;
  font-size: 30px;
  line-height: 50px;
  vertical-align: middle;
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
  position: fixed;
  bottom: 50px;
  right: 90px;
}
#facebook {
  display: inline-block;
  width: 45px;
  height: 45px;
  text-align: center;
  border-radius: 40px;
  color: #fff;
  font-size: 30px;
  line-height: 50px;
  vertical-align: middle;
  background: #3b5998;
  /* background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%); */
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
  position: fixed;
  bottom: 50px;
  right: 30px;
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

#dev-info {
  color: #fff;
  position: fixed;
  bottom: 20px;
  right: 30px;
}

@media only screen and (max-device-width: 768px) {
  #container {
    float: left;
  }
  .slide {
    height: 50vh;
    width: 100%;
    z-index: 1;
  }

  .image-painel {
    width: 100%;
    height: 50vh;
    float: left;
    overflow: hidden;
  }

  .image-painel img {
    width: 100%;
  }

  .text-painel {
    float: left;
    position: relative;
    width: 100%;
    height: 50vh;
  }

  .text-painel div {
    padding: 25px 40px;
    padding-top: 10px;
    margin-left: 0;
  }

  .text-painel h2 {
    font-size: 8vw;
  }
  .text-painel .call-word {
    font-size: 5.5vw;
  }

  .obs {
    font-family: Ageo-ligth;
    font-size: 10pt;
  }

  #logotipo {
    position: fixed;
    top: 15px;
    left: 15px;
    width: 70px;
  }

  #whatsapp-icon {
    right: 100px;
    bottom: 30px;
    width: 110px;
    height: 20px;
  }

  #whatsapp-text{
    line-height: 20px;
    font-size: 10pt;
    /* visibility: hidden; */
  }

  #whatsapp-icon img {
    width: 20px;
    float: right;
  }

  #instagram {
    bottom: 30px;
    width: 30px;
    height: 30px;
    font-size: 20px;
    line-height: 35px;
    right: 60px;
  }

  #facebook {
    bottom: 30px;
    width: 30px;
    height: 30px;
    font-size: 20px;
    line-height: 35px;
    right: 20px;
  }

  .text-left {
    text-align: center;
  }

  .text-right {
    text-align: center;
  }

  #dev-info {
    color: #fff;
    position: fixed;
    bottom: 10px;
    right: 30px;
    font-size: 10pt;
  }
}
